player-connection-mode=Listen
player-connection-guid=2792568735
player-connection-debug=0
player-connection-project-name=studienarbeit_robot_walker
player-connection-ip=172.16.91.165
player-connection-ip=10.120.2.196
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
